body {
  background-image: url(https://github.com/YukiSeino2/Sprout/blob/main/vfyjf.jpg?raw=true);
  background-size: contain;
}

header {
  justify-content:center;
  background-image: url(https://github.com/YukiSeino2/Sprout/blob/main/%E3%83%8D%E3%82%AA%E3%83%B3.jpg?raw=true);
  background-size: cover;
  margin-bottom:50px;
  line-height: 26.0;
}

.header-logo {
  animation: SlideIn1 5.0s;
}

@keyframes SlideIn1 {
  0% {
    opacity: 0;/*初期状態では透明に*/
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.site-explain{
  animation: SlideIn2 5.0s;
}

@keyframes SlideIn2 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

img {
  width: 100%;
  border-bottom-color:black;
}

.content {
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
}

.card-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-list {
  background-color:white;
  border: solid;
  border: 4px solid;
  border-color: gray;
  max-width: 300px;
  margin-bottom: 50px;
  baclground-size:contain;
}

.card-listTitle {
  color:#99ff00;
  background-color:black;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0;
  text-align: center;
  border-top-color:black;
}

.card-listText {
  font-size: 20px;
  line-height: 2.2;
  text-align: center;
}
